{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "QUnit": false,
    "supabase": false
  },
  "rules": {
    "eqeqeq": ["", "always"],
    "no-console": "warn",
    "indent": [
      "",
      4,
      {
        "SwitchCase": 1,
        "ignoreComments": true
      }
    ],
    "quotes": [
      "", 
      "single",
      { 
        "avoidEscape": true,
        "allowTemplateLiterals": true 
      }
    ],
    "no-multi-spaces": [
      "",
      {
        "ignoreEOLComments": true
      }
    ],
    "new-cap": "",
    "no-redeclare": [
      "",
      {
        "builtinGlobals": true
      }
    ],
    "semi": ["", "always"],
    "space-in-parens": [""],
    "space-infix-ops": "",
    "object-curly-spacing": ["", "always"],
    "comma-spacing": "",
    "space-before-function-paren": ["", "never"],
    "keyword-spacing": [
      "",
      {
        "before": true,
        "after": true
      }
    ],
    "array-bracket-spacing": ""
  }
}
